@using LMS.BlazorApp.Dtos;

@inherits ComponentBase

<div class="row d-flex justify-content-between align-baseline">
    <div class="col-12">
        <table class="table ">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Group Balance</th>
                    <th>Purchased Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var change in ChangedGPDtos.OrderBy(gp => gp.Name))
                {
                    <tr>
                        <td>@change.Name</td>
                        <td>@change.GPChangeQuantity</td>
                        <td>@change.PPChangeQuantity</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="">
                    <td colspan="2" >Total Changes:</td>
                    <td class="text-end">@ChangedGPDtos.Sum(gp=>gp.GPChangeQuantity*gp.Cost).ToString("c2") / ( @ChangedGPDtos.Sum(gp=>gp.GPChangeQuantity) ) Licenser</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public GroupDto SelectedGroupDto { get; set; } = new GroupDto();

    [Parameter]
    public int CustomerId { get; set; }

    [Parameter]
    public List<Changes> ChangedGPDtos { get; set; } = new List<Changes>();
}
