@using LMS.BlazorApp.Dtos;

@inherits ComponentBase

<div class="row d-flex justify-content-between align-baseline p-2 ">
    <div class="col-12 ">
        <table class="table ">
            <thead>
                <tr>
                    <th>Type Id</th>
                    <th>Type</th>
                    <th>Gruppe ændret ved</th>
                    <th>Aktuel købt saldo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var change in ChangedGPDtos.OrderBy(gp => gp.Name))
                {
                    <tr>
                        <td>@change.LicenseId</td>
                        <td>@change.Name</td>
                        <td>@change.GPChangeQuantity</td>
                        <td>@change.PPChangeQuantity</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="">
                    <td colspan="3">Prisen vil ændre sig med:</td>
                    <td class="text-end text-primary">@ChangedGPDtos.Sum(gp=>gp.GPChangeQuantity*gp.Cost).ToString("c2") / ( @ChangedGPDtos.Sum(gp=>gp.GPChangeQuantity) ) Licenser</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public GroupDto SelectedGroupDto { get; set; } = new GroupDto();

    [Parameter]
    public int CustomerId { get; set; }

    [Parameter]
    public List<ChangesDto> ChangedGPDtos { get; set; } = new List<ChangesDto>();
}
