@if (GroupProduct.PurchasedProduct != null)
{
    <div class="@ClassName">
        <div class="grid-item">@GroupProduct.PurchasedProduct.ProductName</div>
        <div class="grid-item">@GroupProduct.PurchasedProduct.ProductPrice.ToString("c2")</div>
        <div class="grid-item">@GroupProduct.AddedQuantity</div>
    </div>
}

@code {

    [Parameter]
    public GroupProduct GroupProduct { get; set; } = new GroupProduct( );
    [Parameter] public string ClassName { get; set; } = string.Empty;
}


@* <tr class="grid-container3">
        <td class="grid-item">@GroupProduct.PurchasedProduct.ProductName</td>
        <td class="grid-item">@GroupProduct.PurchasedProduct.ProductPrice.ToString("c2")</td>
        <td class="grid-item">@GroupProduct.AddedQuantity</td>
    </tr> *@