@foreach (var purchasedProductDto in PurchasedProductDtos)
{
    <div class="@ClassName">
        <div class="@SubClassName">@purchasedProductDto.ProductName</div>
        <div class="@SubClassName">@purchasedProductDto.ProductPrice</div>
        <div class="@SubClassName">@purchasedProductDto.PurchasedQty</div>
    </div>
}

@code {
    [Parameter]
    public List<PurchasedProductDto> PurchasedProductDtos { get; set; } = new List<PurchasedProductDto>( );
    [Parameter] public string ClassName { get; set; } = string.Empty;
    [Parameter] public string SubClassName { get; set; } = string.Empty;
}

