
<tr class="grid-container tableRowFont @(IsDisabledRow() ? "disabled-row" : "") ">
    <td class="">@PurchasedProduct.ProductName</td>
    <td class="fw-bold">@PurchasedProduct.ProductPrice</td>
    <td class="fw-bold">
        @($"{PurchasedProduct.PurchasedQty - (GroupProductQuantityAvailability + PurchasedProduct.InputPurchasedtQuantity)}")
        @*<span>
        @($"{PurchasedProduct.PurchasedQty} - {GroupProductQuantityAvailability} = {PurchasedProduct.PurchasedQty - (GroupProductQuantityAvailability + PurchasedProduct.InputPurchasedtQuantity)}")
        </span>*@
    </td>
    <td>
        <div class="position-relative">
            <input type="number"
                   min="0"
                   max="@MaxAllowedQuantity()"
                   class="inputNumber"
                   id="@($"inputNumber{PurchasedProduct.PurchasedProductId}")"
            @bind="PurchasedProduct.InputPurchasedtQuantity"
            @oninput="()=>UpdateState.InvokeAsync()" />

            @if (IsInvalidQuantity())
            {
                @* <span class="position-absolute bottom-0 start-0 translate-middle p-2 bg-danger border border-white"></span>*@
            }
        </div>
    </td>
    <td></td>
</tr>
